<a href="https://colab.research.google.com/github/ojeozilabo/DSCI-BiWeeklyChallenge/blob/main/Ojeozilabo_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [106]:
name = input("Enter name: ")
age = input("Enter age: ")
print("Hi, my name is " + name + ", and I am " + age + " years old.")

Enter name: Adeoye
Enter age: 38
Hi, my name is Adeoye, and I am 38 years old.

In [107]:
year = 2021

In [109]:
dob = year- int(age)
print(dob)

1983

In [110]:
age = 38
if (age <=1): 
  group = "infants"
elif (age >=1) & (age <=11):
  group = "Children"
elif (age >=11) & (age <=18):
  group = "Teens"
elif (age >=18) & (age <=65):
  group = "Adults"
else:
  group = "older Adult"
print(group)

Adults

In [111]:
dec_ago = age - 10

In [112]:
dec_ago

28

In [113]:
for i in range(10, 60, 10):
  print(i)

10
20
30
40
50

In [115]:
current_age =38
current_year =2020
new_age = []
new_year = []


for i in range(10, 60, 10):
  new = age + i
  new_age.append(new)
  print (new_age)
  new_y = year + i
  new_year.append(new_y)
  print(new_year)

[48]
[2031]
[48, 58]
[2031, 2041]
[48, 58, 68]
[2031, 2041, 2051]
[48, 58, 68, 78]
[2031, 2041, 2051, 2061]
[48, 58, 68, 78, 88]
[2031, 2041, 2051, 2061, 2071]

In [116]:
new_year

[2031, 2041, 2051, 2061, 2071]

In [117]:
new_age

[48, 58, 68, 78, 88]

In [118]:
len(new_age)

5

In [119]:
for i in range(len(new_age)):
 a = new_age[i]
 b = new_year[i]
 print (a, b)

48 2031
58 2041
68 2051
78 2061
88 2071

In [121]:
 new_age[1]

58

In [123]:
import numpy as np
next_fifty_age = np.array=([36,46,56,66,77])
next_fifty_age

[36, 46, 56, 66, 77]

In [124]:
next_fifty_year = np.array =([2030,2040,2050,2060,2070])
next_fifty_year

[2030, 2040, 2050, 2060, 2070]

In [134]:
first_concat = "Hi, " +" Mr "+str(name)+" of "+ str(age) +" years old,"
print(first_concat)
second_concat = "Your year of birth is "+ str(dob)
print(second_concat)
third_concat = "As you are "+str(age)+" years old " +" you are an "+str(group) 
print(third_concat)
fourth_concat = "In 2011 you were-"+str(dec_ago)+" Years old, "
print(fourth_concat)
fifth_concat = "In "+str(new_year[0])+", You'll be "+str(new_age[0])+" years old"
print(fifth_concat)
sixth_concat = "In "+str(new_year[1])+", You'll be "+str(new_age[1])+" years old"
print(sixth_concat)
seventh_concat = "In "+str(new_year[2])+", You'll be "+str(new_age[2])+" years old"
print(seventh_concat)
eigth_concat = "In "+str(new_year[3])+", You'll be "+str(new_age[3])+" years old"
print(eigth_concat)
ninth_concat = "In "+str(new_year[4])+", You'll be "+str(new_age[4])+" years old"
print(ninth_concat)

Hi,  Mr Adeoye of 38 years old,
Your year of birth is 1983
As you are 38 years old  you are an Adults
In 2011 you were-28 Years old,
In 2031, You'll be 48 years old
In 2041, You'll be 58 years old
In 2051, You'll be 68 years old
In 2061, You'll be 78 years old
In 2071, You'll be 88 years old